<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Create a Custom Madlib!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
    <h1>Please enter your car's information: </h1>
    <form action="/cars" method="post">
      <label for="makeModel">Make/Model</label>
      <input id="makeModel" name="makeModel" type="text">
      <hr>
      <label for="price">Price</label>
      <input id="price" name="price" type="text">
      <hr>
      <label for="miles">Miles</label>
      <input id="miles" name="miles" type="text">
      <hr>
      <button type="submit">Go!</button>
    </form>
  </body>
</html>